extends layout 

block layout-content 
    h1(class="userIntro") Welcome New Company!
    h3(class="userIntro") Please provide some basic information for us

    form(id="signupForm", action="/u/companySignup", method="post")
        input(class="signupForm",type="text", name="companytitle", placeholder="Company Title")
        br
        input(class="signupForm",type="text", name="industry", placeholder="Industry")
        br
        Label(class="signupForm") Education Requirement
        select(class="signupForm" name="educationrequirement") 
            option(value="None") None
            option(value="High School Diploma") High School Diploma
            option(value="College Degree") College Degree
        br
        input(class="signupForm",type="text", name="phonenumber", placeholder="Phone Number")
        br
        input(class="signupForm",type="text", name="email", placeholder="Email")
        br
        input(class="signupForm",type="text", name="password", placeholder="Password")
        br
        input(class="signupForm",type="text", name="confirmPassword", placeholder="Confirm Password")
        br       
        Label Admin Check
        input(class="signupForm", type="checkbox" name="adminCheck", checked="") 
        br
        input(class="signupForm",type="submit", name="submitButton", value="Create Account")
        br

        a(href="/u/login") Already have an account? Sign in
        br 
        a(href="/u/companySignup") Registering as a User? Click Here 