extends layout

block layout-content
    script(src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js")
    h1(class="pageAlignment") Welcome to the Home Page
    //- h2 Chart Example: 
    //- div(class="pageAlignment")
    //-     span Chart for Answer 1
    //-     canvas(class="chartDesign" id="myChart1", width="200", height="200")
    //-     span Chart for Answer 2
    //-     canvas(class="chartDesign" id="myChart2", width="200", height="200")
    //-     span Chart for Answer 3
    //-     canvas(class="chartDesign" id="myChart3", width="200", height="200")
    //- script(src="/js/site.js")